body {
	margin:0;
	font-family: verdana;
}
a {
	text-decoration:none;
}
#navbar-top-container {
	width:100%;
	height:55px;
	position:fixed;
	border-bottom:1px solid #cccccc;
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.2);
	background-color:#ffffff;
	z-index:5;
}
#main-container {
	width:100%;
	background-color:#ffffff;
}
#navbar-top {
	width:1100px;
	height: 55px;
	margin:0 auto;
}
#navbar-top-left {
	width:45%;
	height:100%;
	float:left;
}
#navbar-top-right {
	width:55%;
	height:100%;
	float:right;
    margin-top: 15px;	
}
#navbar-top-right span{
	width:10px;
	float:right;
	margin: 0 10px;
	font-size: 22px;
	color: #9A9494;
}
#search {
	float:right;
}

#search input {
    padding:7px;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
	border: 1px solid #979696;
	
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	
	-webkit-transition:all .2s ease;
	-khtml-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	cursor:pointer;
	
}

#navbar-icon {
	float:left;
	cursor:pointer;
	margin-top: 13px;	
}

#navbar-icon h1{
	margin: 0px;
}

#navbar-menu {
	float:left;
	font-size:18px;
}
#navbar-menu ul {

}
#navbar-menu ul li {
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	color:#4d4d4d;
	-webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
#navbar-menu ul li:hover {
	color:#000;
}


#login {
	float:right;
	cursor:pointer;
	margin-left:15px;
	padding:5px;
	color:#4d4d4d;
	-webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
#login:hover {
	color:#000;
}
#lg-img {
	float:left;	
	padding: 0 5px;
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-position: left;
	width: 16px;
}
#lg {
	float:left;		
	text-align: left;
	margin-left: 5px;	
	font-size:18px;
}

#login-facebook {
	float:right;
	width:100px;
	border-radius:6%;
	background-color:#4973c4;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:5px;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#login-facebook:hover {
	background-color:#466ba0;
}
#fb-img {
	float:left;	
	border-right:1px solid #32569c;
	text-align:center;
	font-weight: bold;
	padding: 0px 5px;
}
#fb {
	float:left;
	text-align: left;
	padding-left:5px;
}
#feedback {
	display:none;
	width:120px;
	height:30px;
	position:fixed;
	top:140px;
	right:0px;
	margin-right: -25px;
	background-color:#1E7D1A;
	border-radius:6px;
	text-align:center;
	padding-top:10px;
	font-size:15px;
	color:#e4e4e4;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-khtml-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	cursor:pointer;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#feedback:hover {
	background-color:#1A6E17;
}
@media (min-width:1250px){
 #feedback{
	display:block;
 }
}
#go-to-top {
	display:none;
	width:80px;
	height:40px;
	position:fixed;
	top:255px;
	right:1px;
	margin-right: -6px;
	background-color:#b3b3b3;
	border-radius:6px;
	text-align:center;
	font-size:15px;
	color:#e4e4e4;
	-webkit-transform:rotate(-90deg);
	cursor:pointer;
	display:none;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#go-to-top:hover {
	background-color:#a8a8a8;
}
@media (min-width:1250px){
 #go-to-top{
	display:none;
 }
}
#go-to-top img {
	width:34px;
	margin-top:3px;
}
.social {
	position:absolute;
	top:300px;
	left:300px;
}
.social ul li {
	list-style-type:none;
	margin-bottom:10px;
}
.social ul li img {
	width:60px;
	cursor:pointer;
	opacity:0.8;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.social ul li img:hover {
	opacity:1;
}
.social.fixed {
    position: fixed;
    top: 50px;
    margin-top: 20px;
    width:180px;
}
#main {
	top:55px;
	position:relative;
	width:1100px;
	margin:0 auto;
	z-index:4;
}
#main-left {
	width:711px;
	border-right:1px solid #cccccc;
	-webkit-box-shadow: 1px 0 1px 0 rgba(192,192,192,0.4);
    -moz-box-shadow: 1px 0 1px 0 rgba(192,192,192,0.4);
    box-shadow: 1px 0 1px 0 rgba(192,192,192,0.4);
	float:left;
}
#content {
	width:630px;
	margin-left:50px;
	margin-top:35px;
}
#content header h1 {
	font-weight:600;
	font-size:23px;
	color:#424242;
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	margin-bottom:8px;
}
#content header #main-categories {
	float:left;
	font-size:11px;
	color:#787878;
	margin-right:3px;
}
#content header #main-categories:hover {
	color:#5060D9;
}
#content header span {
	float:left;
	font-size:11px;
	color:#787878;
	margin-right:3px;
}
#content header #sub-categories {
	float:left;
	font-size:11px;
	color:#787878;
	margin-right:3px;
}
#content header #sub-categories:hover {
	color:#5060D9;
}
#content header time {
	float:left;
	font-size:11px;
	color:#787878;
	margin-left:3px;
}
#content #author #author-img {
	width:50px;
	height:50px;
	margin-right:10px;
	margin-top:40px;
	background-image:url(../img/user.png);
	background-size:50px;
	background-repeat:no-repeat;
}
#content #author #name-info {
	float:right;
	margin-right: 465px;
	margin-top: -50px;
}
#content #author #name-info #author-name {
	font-weight:600;
	font-size:11px;
	color:#5060D9;
	margin-bottom:20px;
	cursor:pointer;
}
#content #author #name-info #author-info {
	font-size:11px;
	color:#787878;
}
#content section h2 {
	font-weight:600;
	font-size:21px;
	color:#424242;
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	margin-bottom:18px;
	margin-top:40px;
}
#content section figure {
	width:625px;
	height:460px;
	background-image:url(../img/nophoto.jpg);
	background-size:625px;
	background-repeat:no-repeat;
	-webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
}
#content section article {
	margin-top:20px;
	font:17px/1.4 'PT Sans','Open Sans',Helvetica,Arial,sans-serif;
	color:#424242;
}
#left-add-topic section {
	width: 625px;
    margin: 0 auto;
	margin-top:30px;
}
#left-add-topic article {
	border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    padding: 10px 10px 10px 210px;
	background-color:#FFD3D3;	
}
#left-add-topic article header img {
	margin-left: -200px;
    float: left;
}
#left-add-topic article header h5 {
	font-size: 20px;
    line-height: 22px;
    font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
    font-weight: bold;
    color: #424242;
    margin-top: 3px;
    margin-bottom: 5px;
}
#left-add-topic article div p {
	font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
    color: #666666;
    font-size: 15px;
}
#left-add-topic article #sponsored {
	line-height: 30px;
    font-size: 13px;
    font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
    color: #424242;
    margin-top: 7px;
    margin-bottom: 5px;
}
#left-add-topic article #sponsored a {
	color:#424242;
}
#left-add-topic article #sponsored a img {
	float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#left-add-topic article #sponsored a strong {
    margin-right: 5px;
}
#like-facebook-bottom {
	width:625px;
	margin:0 auto;
	margin-top:30px;
	background-color:#f9f9f9;
}
#left-bottom-topics {
	width:625px;
	margin:0 auto;
	margin-top:30px;
}
#left-bottom-topics #head {
	border-bottom:1px solid #e2e2e2;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
}
#left-bottom-topics #topics {
	margin-top:18px;
}
#left-bottom-topics #topics .margin-right {
	display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    margin-bottom: 15px;
}
#left-bottom-topics #topics .no-margin-right {
	display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
#left-bottom-topics #topics article header {
	width:200px;
}
#left-bottom-topics #topics article header h5 {
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	color:#424242;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#left-bottom-topics #topics article header h5:hover {
	color:#5060D9;
}
#facebook-comment {
	width:625px;
	margin:0 auto;
	margin-top:30px;
}
#facebook-comment #head {
	border-bottom:1px solid #e2e2e2;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
}
#facebook-comment #image-comment {
	margin-top:18px;
	height:50px;
}
#facebook-comment #image-comment #image {
	width:50px;
	height:50px;
	float:left;
	background-image:url(../img/user.png);
	background-size:50px;
	background-repeat:no-repeat;
}
#facebook-comment #image-comment #comment {
	margin-left:20px;
	float:left;
}
#facebook-comment #image-comment #comment textarea {
	height:43px;
	width:400px;
	margin-top:-5px;
	padding: 3px;
	max-width: 400px;
    max-height: 60px;
}
#facebook-comment #image-comment #send-button {
	height:30px;
	width:65px;
	background-color:#0D6DAB;
	color:#ffffff;
	float:right;
	border-radius:5px;
	padding: 10px 1px 1px 20px;
	margin-right: 18px;
    margin-top: -2px;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	cursor:pointer;
}
#facebook-comment #image-comment #send-button:hover {
	background-color:#0C5F94;
}
#peaktopic-comment {
	width:625px;
	margin:0 auto;
	margin-top:30px;
}
#peaktopic-comment #head {
	border-bottom:1px solid #e2e2e2;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
}
#peaktopic-comment #image-comment {
	margin-top:18px;
	height:50px;
}
#peaktopic-comment #image-comment #image {
	width:50px;
	height:50px;
	float:left;
	background-image:url(../img/user.png);
	background-size:50px;
	background-repeat:no-repeat;
}
#peaktopic-comment #image-comment #comment {
	margin-left:20px;
	float:left;
}
#peaktopic-comment #image-comment #comment textarea {
	height:43px;
	width:400px;
	margin-top:-5px;
	padding: 3px;
	max-width: 400px;
    max-height: 60px;
}
#peaktopic-comment #image-comment #send-button {
	height:30px;
	width:65px;
	background-color:#89AB0D;
	color:#ffffff;
	float:right;
	border-radius:5px;
	padding: 10px 1px 1px 20px;
	margin-right: 18px;
    margin-top: -2px;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	cursor:pointer;
}
#peaktopic-comment #image-comment #send-button:hover {
	background-color:#708C0A;
}
#topic-headers {
	width:625px;
	margin:0 auto;
	margin-top:30px;
}
#topic-headers #head {
	border-bottom:1px solid #e2e2e2;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
}
#topic-headers #headers ul li {
	background-image: url(../img/label20.png);
    background-size: 10px;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 21px;
	color:#424242;
	cursor:pointer;
	-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	background-position-y: 6px;
}
#topic-headers #headers ul li:hover {
	color:#5060D9;
}
#main-right {
	width:388px;
	float:right;
}
#right-topics {
	width:310px;
	margin:0 auto;
	margin-top:40px;
}
#right-topics article {  
    margin-bottom:15px;
}
#right-topics article a{
    color: #4183c4;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}
#right-topics article a h5{
    font-size: 18px;
    line-height: 22px;
    font-family: "PT Sans", "Open Sans", "Helvetic Neue", sans-serif;
    font-weight: bold;
    color: #424242;
    margin-top: 3px;
    margin-bottom: 5px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#right-topics article a h5:hover{
    color:#5060D9;
}
#right-topics aside {
    margin-top: 5px;
}
#right-topics aside span {
    display: inline-block;
    color: #d0d0d0;
    font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
    font-size: 12px;
    margin-right: 10px;
}
#right-topics aside time {
    color: #9b9b9b;
    font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
    font-size: 12px;
}
#right-add-contents {
	width: 310px;
    margin: 0 auto;
	margin-top:60px;
}
#right-add-contents article {
	margin-bottom:20px;
}
#right-add-contents article img {
	float:left;
}
#right-add-contents article span {
	display: inline-block;
    position: relative;
    margin-left: 8px;
    width: 177px;
}
#right-add-contents article span h5 {
	display: inline-block;
    width: 180px;
    font-size: 13px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 3px;
    color: #424242;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#right-add-contents article span h5:hover {
   color: #5060D9;
}
#right-add-contents article span strong {
	font-size: 11px;
    font-weight: 700;
    color: #adaf97;
}
#right-add-contents article span strong span {
	font-weight: 400;
	width: 62px;
}
.facebook {
	background-image:url(../img/fac.png);
	background-size:14px;
	width:30px;
	background-repeat:no-repeat;
	text-align:right;
	cursor:pointer;
	-webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.facebook:hover {
	background-image:url(../img/fac-hover.png);
}
.twitter {
	background-image:url(../img/twi.png);
	background-size:14px;
	width:30px;
	background-repeat:no-repeat;
	text-align:right;
	cursor:pointer;
	-webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.twitter:hover {
	background-image:url(../img/twi-hover.png);
}
#login-window {
	position:fixed;
	height:450px;
	width:351px;
	background-color:#f4f4f4;
	border-radius:10px;
	top:220px;
	left:776px;
	z-index:10;
	display:none;
}
#login-top {
	width:351px;
	height:60px;
	border-bottom:2px solid #c1c1c1;
	background-color:#dcdcdc;
	border-radius:10px 10px 0px 0px;
}
#login-top-top {
	width:106px;
	font-size:32px;
	margin:0 auto;
	color:#424242;
	padding-top:10px;
}
#login-window-x {
	float: right;
    margin-top: -45px;
    margin-right: 8px;
	color:#4c4c4c;
	cursor:pointer;
	font-weight:bold;
}
#login-window-x:hover {
	color:#000000;
}
#login-center {
	width:311px;
	height:140px;
	margin:0 auto;
	border-bottom:1px solid #dadada;
}
#login-login-facebook {
	width:174px;
	height:50px;
	margin:0 auto;
	border-radius:4px;
	background-color: #668ABD;
    margin-top: 20px;
	cursor:pointer;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#login-login-facebook:hover {
	background-color: #466ba0;
}
#login-facebook-left {
	width:40px;
	height:50px;
	background-image:url(../img/facebook-5.png);
	background-repeat:no-repeat;
	background-size:40px;
	background-position-y: 6px;
	float:left;
}
#login-facebook-right {
	width:134px;
	height:50px;
	color:white;
	margin-top:15px;
	float:right;
}
#login-login-twitter {
	width:174px;
	height:50px;
	margin:0 auto;
	border-radius:4px;
	background-color: #55A4E1;
    margin-top: 20px;
	cursor:pointer;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#login-login-twitter:hover {
	background-color: #428cc5;
}
#login-twitter-left {
	width:50px;
	height:50px;
	background-image:url(../img/twitter-5.png);
	background-repeat:no-repeat;
	background-size:40px;
	background-position-y: 6px;
	float:left;
}
#login-twitter-right {
	width:124px;
	height:50px;
	color:white;
	margin-top:15px;
	float:right;
}
#login-email {
	width:174px;
	margin:0 auto;
	text-align:center;
	margin-top:15px;
	color:#424242;
}
#login-email input {
	padding: 5px;
    height: 18px;
    width: 160px;
	border: 1px solid #b2b2b2;
	margin-top:5px;
	
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	
	-webkit-transition:all .2s ease;
	-khtml-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
}
#login-password {
	width:174px;
	margin:0 auto;
	text-align:center;
	margin-top:15px;
	color:#424242;
}
#login-password input {
	padding: 5px;
    height: 18px;
    width: 160px;
	border: 1px solid #b2b2b2;
	margin-top:5px;
	
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	
	-webkit-transition:all .2s ease;
	-khtml-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
}
#login-rememberme {
	width:174px;
	margin:0 auto;
	text-align:center;
	margin-top:15px;
	color:#424242;
}
#login-rememberme input {
	float:left;
}
#login-rememberme div {
	float:left;
	margin-left:20px;
}
#login-login-button {
	width:100px;
	height:26px;
	text-align:center;
	margin-top:46px;
	margin-left:130px;
	border-radius:4px;
	background-color:#cccccc;
	padding-top:4px;
	cursor:pointer;
	color:#424242;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#login-login-button:hover {
	background-color:#bbbbbb;
}
#register {
	position:fixed;
	height:30px;
	width:108px;
	background-color:#228613;
	border-radius:10px 10px 0px 0px;
	top:555px;
	left:702px;
	z-index:10;
	display:none;
	-webkit-transform:rotate(-90deg);
	font-size:17px;
	padding-top: 10px;
    text-align: center;
	color:#dddddd;
	cursor:pointer;
}
#register:hover {
	background-color:#1E7111;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#opacity {
	position:fixed;
	width:100%;
	height:100%;
	z-index:8;
	background-color:#000000;
	opacity:0;
	display:none;
}