body {
	margin:0;
	font-family: verdana;
}
#navbar-top-container {
	width:100%;
	height:55px;
	position:fixed;
	border-bottom:1px solid #cccccc;
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.2);
	background-color:#ffffff;
	z-index:5;
}
#main-container {
	width:100%;
	background-color:#ffffff;
}
#navbar-top {
	width:1100px;
	height: 55px;
	margin:0 auto;
}
#navbar-top-left {
	width:45%;
	height:100%;
	float:left;
}
#navbar-top-right {
	width:55%;
	height:100%;
	float:right;
    margin-top: 15px;	
}
#navbar-top-right span{
	width:10px;
	float:right;
	margin: 0 10px;
	font-size: 22px;
	color: #9A9494;
}
#search {
	float:right;
}

#search input {
    padding:7px;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
	border: 1px solid #979696;
	
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	outline:none;
	
	-webkit-transition:all .2s ease;
	-khtml-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;	
	
}

#navbar-icon {
	float:left;
	cursor:pointer;
	margin-top: 13px;	
}

#navbar-icon h1{
	margin: 0px;
}

#navbar-menu {
	float:left;
	font-size:18px;
}
#navbar-menu ul {

}
#navbar-menu ul li {
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	color:#424242;
}
#navbar-menu ul li:hover {
	color:#000;
}


#login {
	float:right;
	cursor:pointer;
	margin-left:15px;
	padding:5px;
	color:#424242;
}
#login:hover {
	color:#000;
}
#lg-img {
	float:left;	
	padding: 0 5px;
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-position: left;
	width: 16px;
}
#lg {
	float:left;		
	text-align: left;
	margin-left: 5px;	
	font-size:18px;
}

#login-facebook {
	float:right;
	width:100px;
	border-radius:6%;
	background-color:#4973c4;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:5px;
}
#login-facebook:hover {
	background-color:#466ba0;
}
#fb-img {
	float:left;	
	border-right:1px solid #32569c;
	text-align:center;
	font-weight: bold;
	padding: 0px 5px;
}
#fb {
	float:left;
	text-align: left;
	padding-left:5px;
}
#main {
	top:55px;
	position:relative;
	width:1100px;
	margin:0 auto;
	z-index:4;
}

main h2{
}

#head-topics {
	width:100%;
	height:330px;
}
#topic-1st {
	width:39%;
	height:310px;
	border:2px solid #cccccc;
	margin:15px 5px 5px 0px;
	float:left;
}

#topic-2nd {
	width:29%;
	height:310px;
	border:2px solid #cccccc;
	margin:15px 5px 5px 5px;
	float:left;
	position:relative;
}

#topic-3rd-4th {
	width:29%;
	height:310px;
	margin:15px 5px 5px 5px;
	float:right;
}

#topic-3rd {
	width:100%;
	height:48%;
	border:2px solid #cccccc;
	position:relative;
	margin-bottom:2%;
}
#topic-4th {
	width:100%;
	height:48%;
	border:2px solid #cccccc;
	position:relative;
	margin-top:2.64%;
}
#topics {
	width:100%;
	height:1000px;
}
#topics h2{
	font-size:16px;
	border-bottom: 1px solid #cccccc;
	padding-bottom:5px;
	color: #424242;
	font-weight: normal;
}
#news {
	width:550px;
	float:left;
	margin-left:0px;
}
#news article {  
  padding-left: 200px;
  width: 350px;
  margin-bottom:15px;
}
#news article a{
  color: #4183c4;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
#news article img{
  float: left;
  margin-left: -200px;
}
#news article a h5{
  font-size: 20px;
  line-height: 22px;
  font-family: "PT Sans", "Open Sans", "Helvetic Neue", sans-serif;
  font-weight: bold;
  color: #424242;
  margin-top: 3px;
  margin-bottom: 5px;
}
#news article p{
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  color: #666;
  font-size: 15px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
#news aside {
	margin-top: 5px;
}
#news aside span {
  display: inline-block;
  color: #d0d0d0;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
  margin-right: 10px;
}
#news aside time {
  color: #9b9b9b;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
}
#photos {
	width:300px;
	float:left;
	margin-left:25px;
}
#photos article {  
  margin-bottom:15px;
}
#photos article a{
  color: #4183c4;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
#photos article a h5{
  font-size: 18px;
  line-height: 22px;
  font-family: "PT Sans", "Open Sans", "Helvetic Neue", sans-serif;
  font-weight: bold;
  color: #424242;
  margin-top: 3px;
  margin-bottom: 5px;
}
#photos aside {
  margin-top: 5px;
}
#photos aside span {
  display: inline-block;
  color: #d0d0d0;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
  margin-right: 10px;
}
#photos aside time {
  color: #9b9b9b;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
}
#videos {
  width:200px;
  float:right;
  margin-left:10px;
}
#videos article {  
  margin-bottom:15px;
}
#videos article a{
  color: #4183c4;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
#videos article a h5{
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Sans", "Open Sans", "Helvetic Neue", sans-serif;
  font-weight: bold;
  color: #424242;
  margin-top: 3px;
  margin-bottom: 5px;
}
#videos aside {
	margin-top: 5px;
}
#videos aside span {
  display: inline-block;
  color: #d0d0d0;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
  margin-right: 10px;
}
#videos aside time {
  color: #9b9b9b;
  font-family: "PT Sans","Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
}